@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  @apply text-gray-800 dark:text-indigo-100;
  height: -webkit-fill-available;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #4e4ac4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

*::-webkit-scrollbar-track {
  background: #e5e4f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #7471d1;
  border-radius: 10px;
  border: 3px solid #e5e4f6;
}

.tags::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tags::-webkit-scrollbar-track {
  background: transparent;
}

.tags::-webkit-scrollbar-thumb {
  background-color: #7471d1;
  border: none;
}
